<!DOCTYPE html>
<html>
<head>
<meta charset = "UTF-8">
<%= stylesheet_link_tag 'cadastro.css' %>

<body>
<div id="login-box">

<div class="box">
<h1>Cadastrar</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <ul><%= devise_error_messages! %></ul>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
  <%= hidden_field_tag :redirect_to, params[:redirect_to] %>
  <input type="submit" name="commit" value="Sign up" data-disable widht="Sign up"><br />
  </div>
<% end %>


  </div>
</div>
</body>
</html>