<!DOCTYPE html>
<html>
<head>
<meta charset = "UTF-8">
<%= stylesheet_link_tag 'cadastro.css' %>

<body>
<div id="login-box">

<div class="box">
<h1>Forgot your password?</h1>


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me instructions" %><br />
    <a href="/users/sign_in">Log in</a><br />
  <a href="/users/sign_up">Sign up</a><br />
  </div>
<% end %>


