<!DOCTYPE html>
<html>
<head>
<meta charset = "UTF-8">
<%= stylesheet_link_tag 'admin.css' %>


<header>
<div class="container">
<%= image_tag("controlo.png", :class => "logo", :height=> 80, :width=> 280 ) %>

<nav>
        <ul>
            <% if current_user %>
            <li><a href="#">
                <%= link_to 'Sair', destroy_user_session_path, 
                method: :delete %>
            </a></li>
            <% else %>
            <li><a href="#">
                <%= link_to 'Cadastrar', new_user_registration_path(register_options) %>
            </a></li>

            <li><a href="#">
                <%= link_to 'Entrar', new_user_session_path(login_options) %>
            </a></li>
            <% end %>
        </ul>
    </nav>
</div>
</header>
<body>

<div id="members-box">


<div class="box">

<%= form_for @member do |f| -%>

<h1>Caixa da Equipe</h1>

<div class="field">
    <%= f.label :caixa %><br />
    <%= f.text_field :cash, autofocus: true %>
</div>

<h1>Adicione integrantes em sua equipe</h1>
<hr>
<div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :firstname, autofocus: true %>
</div>
<div class="field">
  <%= f.label :sobrenome %><br />
  <%= f.text_field :lastname, autofocus: true %>
</div>
<div class="field">
<%= f.label :email %><br />
<%= f.email_field :email, autofocus: true %>
</div>
<br />
&nbsp&nbsp
<%= submit_tag 'Adicionar Membro' %>

<% end -%>

<hr>
<div class="members">
<h1>Integrantes cadastrados</h1>
<hr>
<class = "integers">
<% if !@members.empty? %>
    <% @members.each do |item| %>
        <br />
        <%= item.firstname %> <%= item.lastname %> <br />
    <% end %>
    <br />
    <%= form_tag team_path, method: :get do %>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <%= submit_tag 'Ir para grupo' %>
        
      <% end %>
      
<% end %>
</div>
</body>
</html>