<!DOCTYPE html>
<html>
<head>
<meta charset = "UTF-8">
<%= stylesheet_link_tag 'cadastro.css' %>
</head>

<body>


<header>
<div class="container">
<%= image_tag("controlo.png", :class => "logo", :height=> 80, :width=> 280 ) %>

<nav>
        <ul>
            <% if current_user %>
            <li><a href="#">
                <%= link_to 'Sair', destroy_user_session_path, 
                method: :delete %>
            </a></li>
            <% else %>
            <li><a href="#">
                <%= link_to 'Cadastrar', new_user_registration_path(register_options) %>
            </a></li>

            <li><a href="#">
                <%= link_to 'Entrar', new_user_session_path(login_options) %>
            </a></li>
            <% end %>
        </ul>
    </nav>
</div>
</header>
<body>
</br></br>
<% if current_user.admin %>
<center>
<%= image_tag("giphy.gif", :class => "giphy" ) %>
</br></br>
<p1>  Bem vinda(o) de novo!.</p1>
<center></br></br></br></br></br></br></br></br></br></br></br>
<%= form_tag admin_path, method: :get do %>
  <%= submit_tag 'Modificar Controle' %>
<% end %>
<%elsif current_user.viewer%>
<%= form_tag table_path, method: :get do %>
  <%= submit_tag 'Visualizar Controle' %>
<% end %>
<% else %>
<center>
<%= image_tag("sorry.gif", :class => "sorry" ) %>
</br></br>
<p1>  Desculpe, você não está registrado em nenhuma equipe.</p1>
</br></br>
 <%= form_tag admin_path, method: :get do %>
    <%= submit_tag 'Criar nova equipe' %>
  <% end %>
<% end %>
</body>
</html>