<!DOCTYPE html>
<html>
<head>
<meta charset = "UTF-8">
<%= stylesheet_link_tag 'application.css' %>
</head>

<body>


<header>
<div class="container">
<%= image_tag("controlo.png", :class => "logo", :height=> 80, :width=> 280 ) %>


    <nav>
        <ul>
            <% if current_user %>
            <li><a href="#">
                
                <%= link_to 'Controle de Equipe', group_path %>
                &nbsp &nbsp
                <%= link_to 'Sair', destroy_user_session_path, 
                method: :delete %>
            </a></li>
            <% else %>
            <li><a href="#">
                <%= link_to 'Cadastrar', new_user_registration_path(register_options) %>
            </a></li>

            <li><a href="#">
                <%= link_to 'Entrar', new_user_session_path(login_options) %>
            </a></li>
            <% end %>
        </ul>
    </nav>
</div>

</header>

<body>

<div class="banner">
<%= image_tag("banner.png", :alt => "banner_image", :class => "responsive") %>
<h1> <center>&nbsp&nbspA &nbsp&nbspPlataforma </h1>

<p1>
<center>
A Controlo é uma plataforma de gastos coletivos, incentivando a transparência e melhor participação nas finanças de equipes.</br>
Comece a usar e melhore a velocidade de comunicação e facilidade na visualização das despesas!
</center>
</p1>

<nav>
        <ul>
            <lia><a href="#">
                <%= link_to 'Comece já', new_user_session_path(login_options) %>
            </a></lia>

            </ul>
</nav>

</div>

</body>


</html>
