<!DOCTYPE html>
<html>
<head>
<meta charset = "UTF-8">
<%= stylesheet_link_tag 'cadastro.css' %>

<header>
<div class="container">
<%= image_tag("controlo.png", :class => "logo", :height=> 80, :width=> 280 ) %>

<nav>
    <ul>
        <% if current_user %>
        <%= form_tag team_path, method: :get do %>
            <%= submit_tag 'Visualizar equipe' %>
            &nbsp &nbsp
            <%= link_to 'Sair', destroy_user_session_path, 
                method: :delete %>
        <% end %>
        
        <% else %>
    <li><a href="#">
    <%= link_to 'Cadastrar', new_user_registration_path(register_options) %>
    </a></li>

    <li><a href="#">
        <%= link_to 'Entrar', new_user_session_path(login_options) %>
    </a></li>
            
            
    </ul>
    </nav>
<% end %>
</header>

<body>
<center>
<%= image_tag("email.gif", :class => "sorry" ) %>
<p1>
<center>
<b>Você foi convidado para participar da Controlo!</b>
</br></br>
A Controlo é uma plataforma de gastos coletivos, incentivando a transparência e melhor participação nas finanças de equipes.</br>
Comece a usar e melhore a velocidade de comunicação e facilidade na visualização das despesas!
</center>
</p1>

</body>
</html>