<!DOCTYPE html>
<html>
<head>
<meta charset = "UTF-8">
<%= stylesheet_link_tag 'table.css' %>
</head>

<header>
<div class="container">
<%= image_tag("controlo.png", :class => "logo", :height=> 80, :width=> 280 ) %>

<nav>
        <ul>
            <% if current_user %>
            <li><a href="#">
                <%= link_to 'Sair', destroy_user_session_path, 
                method: :delete %>
            </a></li>
            <% else %>
            <li><a href="#">
                <%= link_to 'Cadastrar', new_user_registration_path(register_options) %>
            </a></li>

            <li><a href="#">
                <%= link_to 'Entrar', new_user_session_path(login_options) %>
            </a></li>
            <% end %>
        </ul>
    </nav>
</div>
</header>
<body>

<h1><center>Mensalidade</h1>
<div class="box">
<table>
<thead>
  <tr>
  
    <th><label class="tabt"><b><center>Nome</b><br/></th>
    <th><b>_____________________________________________________</b></th>
    <th><label class="tabt"><b>Pagamento</b><br/></th>
    </div>
  </tr>
</thead>
<% @members.each do |item| %>
<tbody>
  <tr>
  &nbsp&nbsp
    <div class="tab">
    
    <td><label class="tab"><%=item.firstname %></td> 
    <th>_____________________________________________________</th>
    <td><label class="check">Pago
    <input type="checkbox" id="myCheck"  onclick="myFunction()">
    <span class="checkmark"></span>
  </label></td>
    </div>
    
    <br/>
   
  </tr>
</tbody>
<% end %>
</table>
</div>
</body>
</html>