<!DOCTYPE html>
<html>
<head>
<meta charset = "UTF-8">
<%= stylesheet_link_tag 'cadastro.css' %>
<header>
<div class="container">
<%= image_tag("controlo.png", :class => "logo", :height=> 80, :width=> 280 ) %>

<nav>
        <ul>
            <% if current_user %>
            <li><a href="#">
                <%= link_to 'Sair', destroy_user_session_path, 
                method: :delete %>
            </a></li>
            <% else %>
            <li><a href="#">
                <%= link_to 'Cadastrar', new_user_registration_path(register_options) %>
            </a></li>

            <li><a href="#">
                <%= link_to 'Entrar', new_user_session_path(login_options) %>
            </a></li>
            <% end %>
        </ul>
    </nav>
</div>
</header>
<body>

    <div class="field">
    <% if current_user.admin %>
    <center>
    <%= form_for @member do |f| -%>
    <%= f.label :Caixa %><br />
    <%= f.text_field :cash, autofocus: true %>
    <%= submit_tag 'Atualizar Caixa' %>
    <% end %>
</div>
<% end -%>
</head>
<body>
<center>
<%= form_tag table_path, method: :get do %>
    <%= submit_tag 'Mensalidade' %>
    <% end %>
    <%= form_tag table1_path, method: :get do %>
        <%= submit_tag 'Transporte' %>
        <% end %>




</body>
</html>