<!DOCTYPE html>
<html>
<head>
<meta charset = "UTF-8">
<%= stylesheet_link_tag 'cadastro.css' %>

<body>
<div id="login-box">

<div class="box">
<h1>Log in</h1>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
  <%= hidden_field_tag :redirect_to, params[:redirect_to] %>
  <input type="submit" name="commit" value="Sign in" data-disable widht="Sign in"><br />
  <a href="/users/sign_up">Sign up</a><br />
  <a href="/users/password/new">Forgot your password?</a>
  </div>
<% end %>




</div>
</div>
</body>
</html>
