body{
    margin: 0;
    padding: 0;
    background: #fff;
    font-size: 16px;
    color: #0f210a;
    font-family: sans-serif;
    font-weight: 300;
}

.field{
    position: relative;
    margin: 5% auto;
    background: #fff;
}

.members{
    position: absolute;
    top: 88px;
    left: 800px;
    box-sizing: border-box;
    padding: 40px;
    width: 500px;
    height: 550px;
    

}

.actions{
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

#members-box{
    position: relative;
    margin: 3% auto;
    height: 1000px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
}

.box{
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 100px;
    width: 800px;
    height: 550px;
}

h1{
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

label{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaaaaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

input[type="submit"]{
    margin-bottom: 28px;
    width: 200px;
    height: 32px;
    background: #3e8537;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
}



