body{
    margin: 0;
    background: #ffffff;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background: #ffffff;
}

header::after{
    content: "";
    display: table;
    clear: both;
}
.logo{
    padding-left: 10px;
    position: relative;
}

nav{
    float: right;
}

nav ul{
    margin: 25;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    padding-right: 20px;
    padding-top: 7px;
}

nav lia{
    display: inline-block;
    padding-right: 890px;
    padding-top: 80px;
    
}

nav a{
    color: #0f210a;
    text-decoration: none;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav a:hover{
    font-weight: 510;
}

.banner{
    width: 100%;
    display: block;
}

.banner_image{
    width: 100%;
    display: block;
}

@font-face {
    font-family: 'bebas';
    src: url('BEBAS.ttf');
}
@font-face {
    font-family: 'loves';
    src: url('LOVES.ttf');
}
p1{
    color: #454b43;
    text-decoration: none;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
    color: #454b43;
    text-decoration: none;
    font-size: 10px;
    font-family: loves;
    padding-left: 10px;
}

h1{
    color: #454b43;
    text-decoration: none;
    font-size: 50px;
    font-family: bebas;
    font-weight: 510;
}

.responsive{
    width: 100%;
    height: auto;
}