body{
    margin: 0;
    padding: 0;
    background:  #fff;
    font-size: 16px;
    color: #0f210a;
    font-family: sans-serif;
    font-weight: 300;
}
header{
    background: #ffffff;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.box{
    position: relative;
    top: 0px;
    left: 550px;
    box-sizing: border-box;
    padding: 40px;
  
}
.tab{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.tabt{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #0f210a;
}
.check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  .check input:checked ~ .checkmark {
    background-color: rgb(33, 243, 51);
  }

  .logo{
    padding-left: 10px;
    position: relative;
}