
<table>
<thead>
  <tr>
    <th>Nome</th>
    
    <th></th>
    <th>Pagamento</th>
  </tr>
</thead>
<% @member.each do |item| %>
<tbody>
  <tr>
    
     <td><%= item.firstname %></td> 
    <td><%= item.lastname %></td>
   
  </tr>
 
  
</tbody>
</table>
<% end %>
